<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="sendFormulario()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="formulario.nombre" name="nombre" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input [(ngModel)]="formulario.apellido" name="apellido" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Edad</ion-label>
        <ion-input type="number" [(ngModel)]="formulario.edad" name="edad" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="formulario.email" name="email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input type="tel" [(ngModel)]="formulario.telefono" name="telefono" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Fecha de Nacimiento</ion-label>
        <ion-datetime [(ngModel)]="formulario.fechaNacimiento" name="fechaNacimiento" required></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Ciudad</ion-label>
        <ion-input [(ngModel)]="formulario.ciudad" name="ciudad" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">País</ion-label>
        <ion-input [(ngModel)]="formulario.pais" name="pais" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Género</ion-label>
        <ion-select [(ngModel)]="formulario.genero" name="genero" placeholder="Selecciona uno" required>
          <ion-select-option value="Masculino">Masculino</ion-select-option>
          <ion-select-option value="Femenino">Femenino</ion-select-option>
          <ion-select-option value="Prefiero no decirlo">Prefiero no decirlo</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-button expand="block" type="submit">Enviar</ion-button>
  </form>
</ion-content>